input, textarea{
    width: 100%;
    padding: 1.2rem 1rem;
    font-family: var(--ff-inter);
    border: 0.1rem solid rgba(224, 224, 224, 1);
}
input::placeholder, textarea::placeholder{
    font-family: inherit;
}
input::placeholder::after{
    content: "*";
    display: inline-block;
    font-size: 1.3rem;
    color: red;
}
input:focus, textarea:focus{
    outline: none;
}
textarea{
    height: 180px;
}
