/* DEFAULTS AND RESETS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.App{
  position: relative;
}
/* VARIABLES */
:root{
  /* FONT-FAMILIES */
  --ff-elsie: 'Elsie', serif;
  --ff-inter: 'Inter', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;

  /* FONT SIZES */
  --fs-p: 0.9rem;
}

/* UTILITY CLASSES */
.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.flex-col{
  display: flex;
  flex-direction: column;
}


/* APP */
main{
  padding: 0 5% 2rem 5%;
}