*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
:root{
  --body-bg: rgba(0, 0, 0, 1);  ;
  --current-nav:rgba(11, 119, 125, 1);
  --img-div-bg:rgba(11, 119, 125, 1);
  --text-underline:rgba(11, 119, 125, 1);
  --social-icons-bg: #F8F8F8;
  --white:white;
  --footer-bg:rgba(40, 38, 38, 1);;
  --contact-me-input-bg: rgba(40, 38, 38, 1);
  --section-bg: rgba(40, 38, 38, 1);
}
body{
  background-color: var(--body-bg);
  overflow-x: hidden;
}